<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                <a class="nav-link" href="/Product/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-gifts"></i></i></div>
                    Ürünler
                </a>  
                <a class="nav-link" href="/Customer/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/Category/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" href="/Job/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-md"></i></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/Job/AddJob/">
                    <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
                    Yeni meslek girişi
                </a>
                <a class="nav-link" href="/Product/AddProduct/">
                    <div class="sb-nav-link-icon"><i class="far fa-plus-square"></i></div>
                    Yeni ürün girişi
                </a>
                <a class="nav-link" href="/Settings/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-unlock-alt"></i></div>
                    Parola işlemleri
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-help"></i></div>
                    Yardım
                </a>
            </div>
        </div>
    </nav>
</div>
